<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p class="notificacion"><%= devise_error_messages! %></p>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <div class="inputCorto">
    <label>Nombre*</label>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="inputCorto">
    <label>Apellido*</label>
    <%= f.text_field :surname %>
  </div>
  <%= f.fields_for :user_detail do |ff| %>
    <div class="inputCorto">
      <label>DNI*</label>
      <%= ff.text_field :dni %>
    </div>
    <div class="inputCorto">
      <label>Grupo Sanguineo</label>
      <%= ff.select :bloodtype, [["A positivo", "A+"],
                    ["A negativo", "A-"],
                    ["B positivo", "B+"],
                    ["B negativo", "B-"],
                    ["AB positivo", "AB+"],
                    ["AB negativo", "AB-"],
                    ["0 positivo", "0+"],
                    ["0 negativo", "0-"]], {}, {class: "similInput", id: "user_bloodtype"} %>
    </div>
  <% end %>
  <div class="inputCorto">
    <label>Fecha de Nacimiento</label>
    <%= f.text_field :birthDate, placeholder: "dd/mm/aaaa", :value => (f.object.birthDate.strftime('%d/%m/%Y') if f.object.birthDate) %>
  </div>
  <div class="inputCorto">
    <label>Sexo</label>
    <div class="similInput">
      <%= f.radio_button(:gender, "Hombre") %>
      <%= f.label(:gender, "Hombre") %>
      <%= f.radio_button(:gender, "Mujer") %>
      <%= f.label(:gender, "Mujer") %>
    </div>
  </div>
  <%= f.fields_for :user_locale do |ff| %>
    <div class="inputCorto">
      <label>País*</label>
      <%= ff.select :country, [["Argentina", "AR" ]], {}, class: "similInput" %>
    </div>
    <div class="inputCorto">
      <label>Provincia*</label>
      <%= ff.select :state, [["Buenos Aires", "BA" ]], {}, class: "similInput" %>
    </div>
    <div class="inputLargo">
      <label>Ciudad*</label>
      <%= ff.select :city, [["Mar del Plata", "MDQ" ]], {}, class: "similInput" %>
    </div>
  <% end %>
  <div class="inputLargo">
    <label>E-mail*</label>
    <%= f.email_field :username %>
  </div>
  <div class="inputLargo">
    <label>Contraseña actual</label>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
  <p class="notificacion">Campo obligatorio.</p>
  <div class="inputCorto">
    <label>Nuevo Password</label>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="inputCorto">
    <label>Repite el nuevo Password</label>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <p class="notificacion">Completa solo si deseas cambiar tu password.</p>
  <div class="submitArea">
    <input type="reset" class="input-submit" name="CANCELAR" value="CANCELAR"/>
    <%= f.submit "ACTUALIZAR", class: 'input-submit' %>
  </div>
<% end %>
