<div class="registrarse">
  <div class="barrasuperior"></div>
  <h1><strong>Registro de Nuevo Usuario</strong></h1>
  <p class="rnu">Debes estar registrado para poder confirmar un turno para donar sangre. También es necesario para registrar un banco de sangre</p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p class="notificacion"><%= devise_error_messages! %></p>

  <div class="finputCorto sin-margen">
    <label>Nombre*</label>
    <%= f.text_field :name, autofocus: true %>
    <span class="texto-validacion">&nbsp;</span>
  </div>

  <div class="finputCorto sin-margen">
    <label>Apellido*</label>
    <%= f.text_field :surname %>
    <span class="texto-validacion">&nbsp;</span>
  </div>

  <%= f.fields_for :user_detail do |ff| %>
  <div class="finputCorto sin-margen">
    <label>DNI*</label>
    <%= ff.text_field :dni, :maxlength=>"8" %>
    <span class="texto-validacion">&nbsp;</span>
  </div>

  <div class="finputCorto sin-margen">
    <label>Grupo Sanguineo</label>
    <%= ff.select :bloodtype, [["A positivo", "A+"],
    ["A negativo", "A-"],
    ["B positivo", "B+"],
    ["B negativo", "B-"],
    ["AB positivo", "AB+"],
    ["AB negativo", "AB-"],
    ["0 positivo", "0+"],
    ["0 negativo", "0-"]], {}, {class: "similInput", id: "user_bloodtype"} %>
    <span class="texto-validacion">&nbsp;</span>
  </div>

  <div class="finputCorto sin-margen">
    <label>Fecha de Nacimiento</label>
    <input class="datepicker" id="user_birtDate" name="user[birthDate]" size="10" type="text" data-provide='datepicker' >
    <span class="texto-validacion">&nbsp;</span>
  </div>

  <% end %>
  <div class="finputCorto">
    <label>Sexo</label>
    <div class="similInput">
      <%= f.radio_button(:gender, "Hombre") %>
      <%= f.label(:gender, "Hombre") %>
      <%= f.radio_button(:gender, "Mujer") %>
      <%= f.label(:gender, "Mujer") %>
    </div>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <%= f.fields_for :user_locale do |ff| %>
  <div class="finputCorto">
    <label>País*</label>
    <%= ff.select :country, [["Argentina", "AR" ]], {}, class: "similInput" %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="finputCorto">
    <label>Provincia*</label>
    <%= ff.select :state, [["Buenos Aires", "BA" ]], {}, class: "similInput" %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="finputCorto">
    <label>Ciudad*</label>
    <%= ff.select :city, [["Mar del Plata", "MDQ" ]], {}, class: "similInput" %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <% end %>
  <div class="finputCorto sin-margen">
    <label>E-mail*</label>
    <%= f.email_field :username %>
    <span class="texto-validacion">Este e-mail será tu usuario para ingresar</span>
  </div>
  <div>
    <div class="finputCorto sin-margen">
      <label>Contraseña*</label>
      <%= f.password_field :password, autocomplete: "off" %>
      <span class="texto-validacion">&nbsp;</span>
    </div>
    <div class="finputCorto sin-margen">
      <label>Repetir Contraseña*</label>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <span class="texto-validacion">&nbsp;</span>
    </div>
  </div>
  <span class="texto-validacion"></span>
  <div class="submitArea">
    <p>* Campos obligatorios</p>
    <input type="submit" class="btn-registrar" value="Registrarme"/>
  </div>
  <% end %>
    <div class="barrainferior"></div>
</div>
