<div class="columna col_der">
  <div class="col_div registrarse">
    <h1><strong>REGISTRO NUEVO USUARIO</strong></h1>
    <p>Debes estar registrado para poder confirmar un turno para donar sangre. También es necesario para registrar un banco de sangre</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <p class="notificacion"><%= devise_error_messages! %></p>
      <div class="inputCorto">
        <label>Nombre*</label>
        <%= f.text_field :first_name, autofocus: true %>
      </div><div class="inputCorto">
        <label>Apellido*</label>
        <%= f.text_field :last_name %>
      </div>
      <div class="inputCorto">
        <label>DNI*</label>
        <%= f.text_field :dni %>
      </div><div class="inputCorto">
        <label>Fecha de Nacimiento</label>
        <%= f.text_field :birth, placeholder: "dd/mm/aaaa" %>
      </div>
      <div class="inputCorto">
        <label>Sexo</label>
        <div class="similInput">
            <%= radio_button_tag(:gender, "Hombre") %>
            <%= label_tag(:gender, "Hombre") %>
            <%= radio_button_tag(:gender, "Mujer") %>
            <%= label_tag(:gender, "Mujer") %>
        </div>
      </div><div class="inputCorto">
        <label>Grupo Sanguineo</label>
        <select id="user_bloodtype" name="user[bloodtype]" class="similInput">
            <option value="none"> </option>
            <option value="A positivo">A positivo</option>
            <option value="A negativo">A negativo</option>
            <option value="B positivo">B positivo</option>
            <option value="B negativo">B negativo</option>
            <option value="AB positivo">AB positivo</option>
            <option value="AB negativo">AB negativo</option>
            <option value="0 positivo">0 positivo</option>
            <option value="0 negativo">0 negativo</option>
        </select>
      </div>
      <div class="inputCorto">
        <label>País*</label>
        <select id="user_state" name="user[country]" class="similInput">
            <option value="none"> </option>
            <option value="Argentina">Argentina</option>
        </select>
      </div><div class="inputCorto">
        <label>Provincia*</label>
        <select id="user_state" name="user[state]" class="similInput">
            <option value="none"> </option>
            <option value="Buenos Aires">Buenos Aires</option>
        </select>
      </div>
      <div class="inputLargo">
        <label>Ciudad*</label>
        <select id="user_city" name="user[city]" class="similInput">
            <option value="none"> </option>
            <option value="Mar del Plata">Mar del Plata</option>
        </select>
      </div>
      <div class="inputLargo">
        <label>E-mail*</label>
        <%= f.email_field :email %>
      </div>
      <p class="notificacion">éste e-mail será tu usuario para ingresar</p>
      <div class="inputCorto">
        <label>Contraseña*</label>
        <%= f.password_field :password, autocomplete: "off" %>
      </div><div class="inputCorto">
        <label>Repetir Contraseña*</label>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="submitArea">
        <p>* Campos obligatorios</p>
        <%= f.submit "REGISTRARME" %>
      </div>
    <% end %>
  </div>
</div>
<div class="col_izq">
  <%= render partial: 'shared/gota_sin_donar' %>
</div>