<div class="columna col_der">
  <div class="col_div perfil">
      <div class="Secciones">
          <div class="seleccionada"> <!-- Perfil -->
              <h1><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h1>
              <h3><%= current_user.dni %></h3>
              <h2><%= current_user.bloodtype %></h2>
              <h4>Fecha de Nacimiento:</h4>
              <p><%= current_user.birth.strftime("%d/%m/%m") %></p>
              <h4>Sexo:</h4>
              <p><%= current_user.gender %></p>
              <h4>Ubicación:</h4>
              <p><%= current_user.city %>, <%= current_user.state %>, <%= current_user.country %></p>
              <h4>E-mail:</h4>
              <p><%= current_user.email %></p>
              <h4>Contraseña:</h4>
              <p>********</p>
              <div class="cambiar" style="right: 30px;">CAMBIAR DATOS</div>
          </div>
          <% link_to "Cambiar Datos", edit_user_registration_path %>
      </div>
      <div class="badgets">
          <h4>Tus logros:</h4>
          <div class="sin badget">
              <div class="medalla">
              </div><div class="descripcion">
              <p>He <br /> donado!</p>
              <p><span>02 de octubre</span></p>
              </div>

          </div><div class="sin badget bronce">
              <div class="medalla">
              </div><div class="descripcion">
              <p>Primera<br />donación</p>
              <p><span>02 de octubre</span></p>
              </div>

          </div><div class="sin badget plata">
              <div class="medalla">
              </div><div class="descripcion">
              <p>Donante<br />habitual</p>
              <p><span>2014</span></p>
              </div>
          </div>
          <br />
          <div class="sin badget oro">
              <div class="medalla">
              </div><div class="descripcion">
              <p>Donante<br />perfecto</p>
              <p><span>consiguelo</span></p>
              </div>

          </div><div class="sin badget azul none">
              <div class="medalla">
              </div><div class="descripcion">
              <p>Embajador</p>
              <p><span>consiguelo</span></p>
              </div>
          </div>
      </div>
      
      <h4><a href="@">Próximo turno: <strong>Fecha hora, lugar</strong> - Ver todos.</a></h4>      
  </div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
  <%= link_to "Registrar mi Banco de Sangre u ONG de donación", new_ong_path,{ :class =>"botonONG"}%>
</div>