<%= form_for([@ong, @booking]) do |f| %>
    <p>
      <%= f.label 'start_at', 'Solicite su turno' %>
      <%= f.datetime_select :start_at, { minute_step: @ong.timelapse } %>
      <%= f.text_field :dni %>
    </p>
    <p><%= f.submit 'Reservar' %></p>
<% end %>
