<div class="configuracion-calendario">
  <div class="margen-inferior">
    <h3>Calendario</h3>
    <span>Configuración actual con disponibilidad: </span>
    <span class="titulo-rosa"><%= @beds || 0 %> donantes por turno</span>
  </div>
  <div class="semana">
    <span class="semana-anterior"><</span>
    <p class="texto-semana"></p>
    <span class="semana-posterior">></span>
  </div>
  <table id="calendario" class="tabla-calendario margen-inferior">
    <thead>
      <tr>
        <th></th>
        <th class="dia" data-target="#alertaDia"></th>
        <th class="dia" data-target="#alertaDia"></th>
        <th class="dia" data-target="#alertaDia"></th>
        <th class="dia" data-target="#alertaDia"></th>
        <th class="dia" data-target="#alertaDia"></th>
        <th class="dia" data-target="#alertaDia"></th>
        <th class="dia" data-target="#alertaDia"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="margen-izquierdo margen-inferior">
    <div>
      <div class="cuadrado habilitado"></div>
      <span class="opciones-calendario">Turnos disponibles</span>
    </div>
    <div>
      <div class="cuadrado deshabilitado"></div>
      <span class="opciones-calendario">Turnos bloqueados</span>
    </div>
    <div>
      <div class="cuadrado completo"></div>
      <span class="opciones-calendario">Turnos ocupados</span>
    </div>
  </div>
  <div class="borde">
    <table id="totales-calendario" class="tabla-calendario margen-superior">
      <thead>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Total donantes</th>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
        <td class="total habilitado"></td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="alertaDia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title semana" id="myModalLabel">Bloquear día</h4>
        </div>
        <div class="modal-body titulo-rosa">
          El día seleccionado tiene donantes ya registrados. <br><br>
          Enviar un mensaje de cancelación automática a todos los donantes.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-ok" data-dismiss="modal">Ok</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
   var inicioTurnos = '<%= @inicio_turnos %>',
       finTurnos = '<%= @fin_turnos %>',
       lapsoTiempo = '<%= @timelapse %>',
       inicioTurnosDiferenciado = '<%= @inicio_turnos_diferenciado %>',
       finTurnosDiferenciado = '<%= @fin_turnos_diferenciado %>',
       turnosOcupados = '<%= @turnos_ocupados.to_json.html_safe %>';

</script>