<div class="banco">
  <div class="ficha_banco">
    <div class="bar-main-container">
      <div class="campania">Septiembre 2014</div><div class="faltandias">20</div>
      <div class="bar-container">
        <div class="objetivo">300</div>
        <div class="bar" style="width: 70%;"><div>70%</div></div>
        <div class="registrados">210</div>
      </div>
    </div>
    <p><%= ong.phone %> - <%= ong.email %></p>
    <p><%= ong.website %> - <%= ong.facebook %></p>
    <ul id="sobre_derecha" class="no-top">
      <li><%= link_to "Editar información", edit_user_ong_path(current_user, ong) %></li>
      <li><%= link_to "Gestionar turnos", ong_bookings_path(ong) %></li>
    </ul>
  </div>
  <h3><%= ong.name %></h3>
  <h2><%= ong.street1 %>,<br/><%= ong.street2 %></h2>
  <h4>c.p. <%= ong.zip %>. <%= ong.city %>, <%= ong.state %>, <%= ong.country %>.</h4>
  <div style="clear:both;"></div>
</div>

