<div class="perfil">
  <div class="Secciones">
    <div class="seleccionada"> <!-- Perfil -->
    <h1><strong><%= current_user.name %> <%= current_user.surname %></strong></h1>
    <h3><%= current_user.dni %></h3>
    <h2><%= current_user.bloodtype %></h2>
    <h4>Fecha de Nacimiento:</h4>
    <p><%= current_user.birthDate.strftime("%d/%m/%Y") %></p>
    <h4>Sexo:</h4>
    <p><%= current_user.gender %></p>
    <h4>Ubicación:</h4>
    <p><%= current_user.user_locale.city %>, <%= current_user.user_locale.state %>, <%= current_user.user_locale.country %></p>
    <h4>E-mail:</h4>
    <p><%= current_user.email %></p>
    <h4>Contraseña:</h4>
    <p>********</p>
    <%= link_to "CAMBIAR DATOS", edit_user_registration_path, class: "cambiar" %>
    </div>
  </div>
  <%= render partial: 'badges', locals: { badges: current_user.badges } %>
  <h4 class="badgets-title">Próximos turnos:</h4>
  <ul class='booking-list'>
    <% @next_bookings.each do |booking|%>
    <li>
      <strong>
      <%= booking.day ? booking.day.strftime("%d/%m/%Y") : '-' %>
      <%= booking.start_time.strftime("%H:%M") %>,
      <%= booking.ong.name %>
      </strong><%= link_to "Eliminar", ong_booking_path(booking.ong, booking), method: :delete, data: {confirm: "Está seguro que desea eliminar el turno #{booking.day ? booking.day.strftime('%d/%m/%Y') : '-'} #{booking.start_time.strftime('%H:%M')}, #{booking.ong.name} ?"} %>  
    </li>
    <% end %>
  </ul>
      

  <% if @last_booking %>
    <h4 class="badgets-title">Ultima Donacion:</h4>
    <ul class='booking-list'>
      <li>
        <strong>
        <%= @last_booking.day ? @last_booking.day.strftime("%d/%m/%Y") : '-'%>
        <%= @last_booking.start_time.strftime("%H:%M") %>,
        <%= @last_booking.ong.name %> 
        </strong>
      </li>
    </ul>
  <% end %>
  
  <%= link_to "Registrar mi Banco de Sangre u ONG de donación", ong_search_path,{ :class =>"botonONG"}%>
</div>