<div class="row">
    <div class="col-xs-12 col-sm-3 menu-column hidden-xs">
        <%= render partial: 'shared/ong_my_banks_menu' , locals:{selectedOng: nil}%>
        <div class="users-gota-donar">
            <%= render partial: 'shared/gota_donar' %>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="perfil">
            <div class="Secciones">
                <div class="seleccionada"> <!-- Perfil -->
                    <h1><strong><%= current_user.name %> <%= current_user.surname %></strong></h1>
                    <h3><%= current_user.dni %></h3>
                    <h2><%= current_user.bloodtype %></h2>
                    <h4>Fecha de Nacimiento:</h4>
                    <p><%= current_user.birthDate %></p>
                    <h4>Sexo:</h4>
                    <p><%= current_user.gender %></p>
                    <h4>Ubicaci칩n:</h4>
                    <p><%= current_user.user_locale.city %>, <%= current_user.user_locale.state %>, <%= current_user.user_locale.country %></p>
                    <h4>E-mail:</h4>
                    <p><%= current_user.email %></p>
                    <h4>Contrase침a:</h4>
                    <p>********</p>
                    <%= link_to "CAMBIAR DATOS", edit_user_registration_path, class: "cambiar" %>
                </div>
            </div>
            <%= render partial: 'badges', locals: { badges: current_user.badges } %>
            <h4 class="badgets-title"><a href="@">Pr칩ximo turno: <strong>Fecha hora, lugar</strong> - Ver todos.</a></h4>
            <%= link_to "Registrar mi Banco de Sangre u ONG de donaci칩n", ong_search_path,{ :class =>"botonONG"}%>
        </div>
    </div>
</div>
