<div class="columna col_der">
  <div class="col_div perfil">
      <div class="Secciones">
          <div class="seleccionada"> <!-- Perfil -->
              <h1><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></h1>
              <h3><%= current_user.dni %></h3>
              <h2><%= current_user.bloodtype %></h2>
              <h4>Fecha de Nacimiento:</h4>
              <p><%= current_user.birth.strftime("%d/%m/%y") %></p>
              <h4>Sexo:</h4>
              <p><%= current_user.gender %></p>
              <h4>Ubicaci칩n:</h4>
              <p><%= current_user.city %>, <%= current_user.state %>, <%= current_user.country %></p>
              <h4>E-mail:</h4>
              <p><%= current_user.email %></p>
              <h4>Contrase침a:</h4>
              <p>********</p>
              <%= link_to "CAMBIAR DATOS", edit_user_registration_path, class: "cambiar", style: "left: 250px" %>
          </div>
      </div>
      <%= render partial: 'badges', locals: { badges: current_user.badges } %>
      <h4><a href="@">Pr칩ximo turno: <strong>Fecha hora, lugar</strong> - Ver todos.</a></h4>
  </div>
</div>
<div class="columna col_izq">
  <% if current_user.ongs %>
    <% current_user.ongs.each do |ong| %>
      <%= render partial: 'ong_list', locals: {ong: ong} %>
    <% end %>
  <% else %>
    <%= render partial: 'shared/gota_donar' %>
  <% end %>
  <%= link_to "Registrar mi Banco de Sangre u ONG de donaci칩n", new_user_ong_path(current_user),{ :class =>"botonONG"}%>
</div>
