<div class="columna col_izq">
    <a class="boton_donar" href="quiero_donar.html" title="Quiero donar">
        <%= image_tag "quierodonar_btn.png" %>
    </a>
</div>
<div class="columna col_der">
  <div class="titulo_ingresar">INGRESAR</div>
    <div class="inputs_container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, autofocus: true, class: "email_input" %>

        <%= f.password_field :password, autocomplete: "off", class: "email_input" %>

        <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
        <% end -%>

        <%= f.submit "Sign in", class: "btn_ingresar" %>
      <% end %>
    </div>
  </div>
</div>