<%= form_for(@ong) do |f| %>
  <% if @ong.errors.any? %>
    <p class="notificacion">
    <%= pluralize(@ong.errors.count, "error") %> prohibited this ong from being saved:</p>
    <ul>
      <% @ong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>
  <div class="inputLargo sin-margen">
    <label>Nombre*</label>
    <%= f.text_field :name %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="inputLargo sin-margen">
    <label>Dirección*</label>
    <%= f.text_field :address %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="inputLargo">
    <label>Referencias de dirección</label>
    <%= f.text_field :address2 %>
  </div>
  <div class="inputCorto">
    <label>País</label>
    <%= f.select :country_id, [["Argentina", "Argentina"]], {}, { class: "similInput" } %>
  </div>
  <div class="inputCorto">
    <label>Provincia</label>
    <%= f.select :addressState, [["Buenos Aires", "Buenos Aires"]], {}, { class: "similInput" } %>
  </div>
  <div class="inputCorto sin-margen">
    <label>Ciudad</label>
    <%= f.select :city, [["Mar del Plata", "Mar del Plata"]], {}, { class: "similInput" } %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="inputCorto sin-margen">
    <label>Código Postal*</label>
    <%= f.text_field :zip %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="inputLargo sin-margen">
    <label>Teléfono*</label>
    <%= f.text_field :phone %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="inputLargo sin-margen">
    <label>E-mail*</label>
    <%= f.text_field :adminEmail %>
    <span class="texto-validacion">&nbsp;</span>
  </div>
  <div class="inputLargo">
    <label>Sitio web</label>
    <%= f.text_field :websiteUrl %>
  </div>
  <div class="inputLargo">
    <label>Facebook</label>
    <%= f.text_field :facebookPage %>
  </div>
  <div class="inputCorto">
    <label>Red Nacional</label>
    <%= f.text_field :nationalNetworkName %>
  </div>
  <div class="inputCorto">
    <label>Red Internacional</label>
    <%= f.text_field :internationalNetworkName %>
  </div>
  <p class="notificacion">Solo si pertenece a una red</p>
  <div>
    <%= f.submit "ENVIAR", class: "btn-enviar" %>
  </div>
<% end %>
