<%= form_for(@ong) do |f| %>
  <% if @ong.errors.any? %>
            <p class="notificacion">
            <%= pluralize(@ong.errors.count, "error") %> prohibited this ong from being saved:</p>
            <ul>
                <% @ong.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
   <% end %>
    <div class="inputLargo">
        <label>Nombre</label>
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="inputCorto">
    <label>Dirección</label>
    <%= f.text_field :street1, class: "form-control" %>
    </div><div class="inputCorto">
    <label>Entre que calles</label>
    <%= f.text_field :street2, class: "form-control" %>
  </div>
    <div class="inputCorto">
    <label>Ciudad</label>
    <%= f.text_field :city, class: "form-control" %>
  </div><div class="inputCorto">
    <label>Provincia</label>
    <%= f.text_field :state, class: "form-control" %>
  </div>
    <div class="inputLargo">
    <label>País</label>
    <%= f.text_field :country, class: "form-control" %>
  </div>
    <div class="inputCorto">
    <label>Código Postal</label>
    <%= f.text_field :zip, class: "form-control" %>
  </div>
    <div class="inputLargo">
    <label>Teléfono</label>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
    <div class="inputLargo">
    <label>E-mail</label>
    <%= f.text_field :email, class: "form-control" %>
  </div>
    <div class="inputLargo">
    <label>Sitio web</label>
    <%= f.text_field :website, class: "form-control" %>
  </div>
    <div class="inputLargo">
    <label>Facebook</label>
    <%= f.text_field :facebook, class: "form-control" %>
  </div>
    <div class="inputCorto">
    <%= f.label :national_network %>
    <%= f.text_field :national_network, class: "form-control" %>
  </div><div class="inputCorto">
    <%= f.label :international_network %>
    <%= f.text_field :international_network, class: "form-control" %>
  </div>
    <div class="inputLargo">
    <label>Comentarios</label>
    <%= f.text_field :comments, class: "form-control" %>
  </div>
  <div class="submitArea">
    <%= f.submit class: "btn btn-lg btn-default" %>
  </div>
<% end %>