<%= form_for(@ong) do |f| %>
  <% if @ong.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ong.errors.count, "error") %> prohibited this ong from being saved:</h2>

      <ul>
      <% @ong.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :street1 %><br>
    <%= f.text_field :street1, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :street2 %><br>
    <%= f.text_field :street2, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.text_field :country, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :zip %><br>
    <%= f.number_field :zip, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.text_field :country, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :national_network %><br>
    <%= f.text_field :national_network, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :international_network %><br>
    <%= f.text_field :international_network, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :comments %><br>
    <%= f.text_field :comments, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-lg btn-default" %>
  </div>
<% end %>
