
    <%
    @day_name = day_name_label
    if day_name_label == ' ' then
        @day_name = 'ALL'
    end %>
<div class="row horarios-diferenciados hidden <%= @day_name %>">
    <div class="from-to <%=@day_name %>">
        <div class="col-xs-1"> <label><%=@day_name %></label> </div>
        <div class="col-xs-2">
            <label>INICIO</label>
            <%= select_tag(@day_name + '[inicio]'  , options_for_select(@intervalo_horario)) %>
        </div>
        <div class="col-xs-2">
            <label>HASTA</label>
            <%= select_tag(@day_name + '[hasta]', options_for_select(@intervalo_horario)) %>
        </div>
        <div class="col-xs-2 horario-cortado hidden <%= @day_name%>">
            <label>INICIO</label>
            <%= select_tag(@day_name +'[inicio_cortado]', options_for_select(@intervalo_horario)) %>
        </div>
        <div class="col-xs-2 horario-cortado hidden <%= @day_name%>">
            <label>HASTA</label>
            <%= select_tag(@day_name +'[hasta_cortado]', options_for_select(@intervalo_horario)) %>
            <%= hidden_field_tag(:input_horario_cortado, '0')%>
        </div>
    </div>
</div>

<div class="row from-to horarios-diferenciados hidden <%= @day_name %> ">
    <div class="col-xs-12">
        <a name="<%= @day_name %>" class="horario-cortado accion-toggle-horario-cortado-each">Definir horario cortado</a>
    </div>
</div>
