<div class="col_der">
  <h2>Septiembre</h2>
  <%= render partial: 'calendar', locals: {month: 9, days: 31, year: 2014} %>
  <br>
  <h2>Octubre</h2>
  <%= render partial: 'calendar', locals: {month: 9, days: 31, year: 2014} %>
  <br>
  <h2>Noviembre</h2>
  <%= render partial: 'calendar', locals: {month: 9, days: 31, year: 2014} %>
  <br>
  <h2>Diciembre</h2>
  <%= render partial: 'calendar', locals: {month: 9, days: 31, year: 2014} %>
  <br>
  <h2>Enero</h2>
  <%= render partial: 'calendar', locals: {month: 1, days: 31, year: 2015} %>
  <br>
  <h2>Febrero</h2>
  <%= render partial: 'calendar', locals: {month: 2, days: 31, year: 2015} %>
  <br>
  <h2>Marzo</h2>
  <%= render partial: 'calendar', locals: {month: 3, days: 31, year: 2015} %>
  <br>
  <h2>Abril</h2>
  <%= render partial: 'calendar', locals: {month: 4, days: 31, year: 2015} %>
  <br>
  <h2>Mayo</h2>
  <%= render partial: 'calendar', locals: {month: 5, days: 31, year: 2015} %>
  <br>
  <h2>Junio</h2>
  <%= render partial: 'calendar', locals: {month: 6, days: 31, year: 2015} %>
  <br>
  <h2>Julio</h2>
  <%= render partial: 'calendar', locals: {month: 7, days: 31, year: 2015} %>
  <br>
  <h2>Agosto</h2>
  <%= render partial: 'calendar', locals: {month: 8, days: 31, year: 2015} %>
  <br>
</div>
<div class="col_izq">
</div>
