<div class="row">
  <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 col_der">
   <div class="ongs-new">
       <h1> <%= @ong.name %></h1>
       <p id="notice"><%= notice %></p>
       <p>
         <strong>Direccion:</strong>
         <%= @ong.address %>
       </p>

       <p>
         <strong>Referencias de dirección:</strong>
         <%= @ong.address2 %>
       </p>

       <p>
         <strong>ciudad:</strong>
         <%= @ong.city %>
       </p>

       <p>
         <strong>Provincia:</strong>
         <%= @ong.state %>
       </p>

       <p>
         <strong>Pais:</strong>
         <%= @ong.country_id %> <!-- @TODO mostrar el pais correctamente -->
       </p>

       <p>
         <strong>Código Postal:</strong>
         <%= @ong.zip %>
       </p>

       <p>
         <strong>Telefono:</strong>
         <%= @ong.phone %>
       </p>

       <p>
         <strong>Email:</strong>
         <%= @ong.adminEmail %>
       </p>

       <p>
         <strong>Website:</strong>
         <%= @ong.websiteUrl %>
       </p>

       <p>
         <strong>Facebook:</strong>
         <%= @ong.facebookPage %>
       </p>

       <p>
         <strong>Red Nacional:</strong>
         <%= @ong.nationalNetworkName %>
       </p>

       <p>
         <strong>Red Internacional:</strong>
         <%= @ong.internationalNetworkName %>
       </p>    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col_izq">
    <div class="users-gota-donar">
      <%= render partial: 'shared/gota_sin_donar' %>
    </div>
  </div>
</div>
