<div class="columna col_der">
  <div class="col_div ong">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @ong.name %>
    </p>

    <p>
      <strong>Street1:</strong>
      <%= @ong.address %>
    </p>

    <p>
      <strong>Street2:</strong>
      <%= @ong.address2 %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @ong.city %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @ong.state %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @ong.country_id %>
    </p>

    <p>
      <strong>Zip:</strong>
      <%= @ong.zip %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @ong.phone %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @ong.adminEmail %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @ong.websiteUrl %>
    </p>

    <p>
      <strong>Facebook:</strong>
      <%= @ong.facebookPage %>
    </p>

    <p>
      <strong>National network:</strong>
      <%= @ong.nationalNetworkName %>
    </p>

    <p>
      <strong>International network:</strong>
      <%= @ong.internationalNetworkName %>
    </p>
  </div>
</div>
<div class="columna col_izq">
  <%= render partial: 'shared/gota_donar' %>
</div>
