<div class="row ong-show-page">
  <div class="col-xs-12 col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 col_der">
   <div class="ongs-new">
       <h1> <%= @ong.name %></h1>
       <p id="notice"><%= notice %></p>
       <p>
         <strong>Direccion:</strong>
         <span><%= @ong.address %></span>
       </p>

       <p>
         <strong>Referencias de dirección:</strong>
         <span><%= @ong.address2 %></span>
       </p>

       <p>
         <strong>ciudad:</strong>
         <span><%= @ong.city %></span>
       </p>

       <p>
         <strong>Provincia:</strong>
         <span><%= @ong.state %></span>
       </p>

       <p>
         <strong>Pais:</strong>
         <span><%= @ong.country_id %></span> <!-- @TODO mostrar el pais correctamente -->
       </p>

       <p>
         <strong>Código Postal:</strong>
         <span><%= @ong.zip %></span>
       </p>

       <p>
         <strong>Telefono:</strong>
         <span><%= @ong.phone %></span>
       </p>

       <p>
         <strong>Email:</strong>
         <span><%= @ong.adminEmail %></span>
       </p>

       <p>
         <strong>Website:</strong>
         <span><%= @ong.websiteUrl %></span>
       </p>

       <p>
         <strong>Facebook:</strong>
         <span><%= @ong.facebookPage %></span>
       </p>

       <p>
         <strong>Red Nacional:</strong>
         <span><%= @ong.nationalNetworkName %></span>
       </p>

       <p>
         <strong>Red Internacional:</strong>
         <span><%= @ong.internationalNetworkName %></span>
       </p>
       <%= link_to "Volver al usuario",user_path(current_user), class: 'input-submit'%>

   </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col_izq">
    <div class="users-gota-donar">
      <%= render partial: 'shared/gota_sin_donar' %>
    </div>
  </div>
</div>
