<p id="notice"><%= notice %></p>

<p>
  <strong>Ong:</strong>
  <%= @challenge.ong %>
</p>

<p>
  <strong>Objective:</strong>
  <%= @challenge.objective %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @challenge.progress %>
</p>

<p>
  <strong>Active:</strong>
  <%= @challenge.active %>
</p>

<p>
  <strong>Start:</strong>
  <%= @challenge.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @challenge.end %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
