<div class="faldon_top_container">
    <div class="faldon_top">
        <div class="logo_top_container">
            <%= link_to image_tag("logo.gif"), root_path, alt: 'Hermanos de Sangre' %>
        </div>

        <div class="textos_container">
            <ul id="menu">
                <li>
                    <a href="#">DONANTES</a>

                    <ul class="sub-menu">
                        <li>
                            <%= link_to "Información útil", donantes_path %>
                        </li>
                        <li>
                            <%= link_to "Objetivo", objetivo_path %>
                        </li>
                    </ul>
                </li>
                <li><a href="#">¿QUIÉNES SOMOS?</a>

                    <ul class="sub-menu">
                        <li>
                            <%= link_to "Nosotros", nosotros_path %>
                        </li>
                        <li>
                            <%= link_to "Campaña", campania_path %>
                        </li>
                    </ul>
                </li>
                <% if current_user %>
                    <li class="sobre_derecha"><%= link_to "SALIR", destroy_user_session_path, :method => :delete %>
                    <li class="sobre_derecha"><%= link_to "BIENVENIDO #{current_user.first_name}", edit_user_registration_path %></li>
                <% else %>
                    <li class="sobre_derecha"><%= link_to "ENTRAR", user_session_path %></li>
                    <li class="sobre_derecha"><%= link_to "REGISTRARSE", new_user_registration_path %></li>
                <% end %>
                <li class="sobre_derecha"><span class='HS_email'><a href="mailto:mail@mail.com">contácto</a></span><span class='st_facebook'></span><span class='st_twitter'></span></li>
            </ul>
        </div>
    </div>
</div>