<div class="faldon_top_container">
  <div class="faldon_top">
    <div class="navbar-logo col-1-2">
      <%= link_to root_path, :class => "col-1" do %>
        <figure class="logo-container">
          <%= image_tag("big-logo.png", :class=> "logo") %>
          <figcaption class="text-logo">Hermanos de sangre</figcaption>
        </figure>
      <% end %>
    </div>
    <div class="menus col-1-2 last">
      <ul id="menu">
        <li>
          <%= link_to "DONANTES", donors_path %>
          <ul class="sub-menu">
            <li><%= link_to "Impacto", impact_path %></li>
            <li><%= link_to "Requisitos", requirements_path %></li>
            <li><%= link_to "Consejos", advises_path %></li>
          </ul>
        </li>
        <li><%= link_to "ACERCA DE", about_us_path %>
          <ul class="sub-menu">
            <li>
              <%= link_to "Cómo funciona", how_works_path %>
            </li>
            <li>
              <%= link_to "¿Quiénes somos?", about_us_path %>
            </li>
            <li>
              <%= link_to "La campaña", campaign_path %>
            </li>
          </ul>
        </li>
      </ul>
      <ul id="sobre_derecha" class="top30">
        <li><span class='HS_email'><%= link_to "contacto", contact_path %></span><span class='st_facebook'></span><span class='st_twitter'></span></li>
        <% if current_user %>
          <li><%= link_to "Mi cuenta",user_path(current_user) %></li>
          <li><%= link_to "SALIR", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "REGÍSTRATE", new_user_registration_path %></li>
          <li><%= link_to "INGRESA", user_session_path %></li>
        <% end %>
      </ul>
    </div>
    <div class="abrir-menu"><div></div></div>
  </div>
</div>

<!-- mobile menu -->
<div class="container-fluid navbar-content hidden-sm hidden-md hidden-lg">
  <a href="<%= root_path %>" class="navbar-brand">
    Hermanos de Sangre
  </a>
  <div class="nav-header">
    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <nav class="navbar-collapse collapse" id="bs-navbar">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="<%= donors_path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Donantes <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Impacto", impact_path %></li>
          <li><%= link_to "Requisitos", requirements_path %></li>
          <li><%= link_to "Consejos", advises_path %></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="<%= about_us_path %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acerca De <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Cómo funciona", how_works_path %></li>
          <li><%= link_to "¿Quiénes somos?", about_us_path %></li>
          <li><%= link_to "La campaña", campaign_path %></li>
        </ul>
      </li>
      <% if current_user %>
      <li><%= link_to "Mi cuenta",user_path(current_user) %></li>
      <li><%= link_to "SALIR", destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to "Regístrate", new_user_registration_path %></li>
      <li><%= link_to "Ingresa", user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>