<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-AR" lang="es-AR">
  <head>
    <title>Hermanos de sangre</title>
    <meta http-equiv="content-language" content="es-AR" />
    <meta name="copyright" content="Copyright 2014" />
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="main_container">
    <%= render partial: 'layouts/navbar' %>

    <div class="content_container">

    <%= yield %>


  </body>
  <%= render partial: 'layouts/script' %>
</html>
